<footer class="footer-section overflow-hidden">
            <div class="footer-bg" data-background="/assets/img/bg-img/footer-bg.png"></div>
            <div class="footer-shade"></div>
            <div class="container container-2">
                <div class="row footer-wrap">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="widget-header">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="/assets/img/logo/logo-2.png" alt="Umiya Hardware & Paints Logo"></a>
                                </div>
                            </div>
                            <p class="mb-10">Complete Paint Solutions Under <br> One Roof.</p>
                            <p class="mb-0">{{ contact_details:address | strip_tags }}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget footer-col-2">
                            <ul class="footer-list">
                                {{ nav:footer_nav }}

                                <li>
                <a href="{{ url }}">
                    {{ title }}
                </a>
            </li>

        {{ /nav:footer_nav }}

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-address">
                                <a class="number" href="tel:{{ contact_details:telephone }}">{{ contact_details:telephone }}</a>
                                <a class="mail" href="mailto:{{ contact_details:email }}">{{ contact_details:email }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-content">
                        <p>© 2026 Umiya Hardware & Paints. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
            <div class="footer-text"><span>umiya</span></div>
        </footer>
